<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRI SAI NEWS WEBSITE</title>
    <link href="{% static 'css/newsstyles.css' %}"rel="stylesheet">
</head>
<body>
    <h1>Welcome to SRI SAI NEWS WEBSITE...</h1>
    <hr id="h11"/>
    <ul>
        <spam class="spam">***Categories***</spam><br/><br/>
        <li><a href="/india/" target="_blank">IndiaNews</a></li>
        <li><a href="/sports/" target="_blank">SportNews</a></li>
         <li><a href="/tech/" target="_blank">TechnologyNews</a></li>
    </ul>

</body>
</html>